.home-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
  padding: 100px 0px;
}

.home-background h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: lighter;
  margin: 8px;
  text-align: center;
  color: #10002b;
  }

.home-background p {
  font-size: 20px;
  color: #10002b;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.home-explanation {
  position: relative
}

.home-explanation h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: lighter;
  margin: 8px;
  text-align: center;
  color: #10002b;
  color: white;
  padding-bottom: 16px;
}

.home-explanation-detail-1, .home-explanation-detail-2, .home-explanation-detail-3  {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 19px;
  font-weight: lighter;
  text-align: center;
  color: white;
}

.home-explanation-detail {
  background-color: #6a040f;
  text-align: center;
}

.home-explanation-detail img {
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px
}


.explanation-bar {
  height: 45px;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -44px;
  z-index: 1;
}

.explanation-bar-bis {
  height: 45px;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: -44px;
  z-index: 1;
  transform: scale(1, -1);
  position: absolute;
}
