.br-widget {
  margin: 40px 117px;
}

.formbox {
  box-shadow: 10px 5px 5px grey;
}

#submit-button {
  background: #6a040f;
  border-radius: 4px;
  line-height: 14px;
  padding: 15px;
  color: white;
  margin-bottom: 10px
}
