.br-widget {
  margin: 39px 105px
}

.form-control a {
  padding: 10px;
}

.formbox {
  box-shadow: 10px 5px 5px grey;
}

#submit-button {
  background: #6a040f;
  border-radius: 4px;
  line-height: 14px;
  padding: 15px;
  color: white;
  margin-bottom: 10px
}

.br-theme-css-stars .br-widget a {
  text-decoration: none;
  height: 18px;
  width:23px;
  float: left;
  font-size: 23px;
  margin-right: 5px;
}
.show-banner {
  width: 102%;
}
