.fas .fa-heart{
  left: 15px;
  position: relative;
  top: -460px;
  font-size: 22px;

.fa-bookmark{
  position: absolute;
  font-size: 30px;
  color: rgba(106, 4, 15, 0.3);
  transition: .3s;
    &:active{
      color: rgba(106, 4, 15, 1);
    }
  }
}

#plusloin {
  color: #6a040f;
}

#mapfr {
  background-repeat: no-repeat;
  background-size: cover;
}

.bouteille {
  position: absolute;
  top: -84px;
  right: 25px;
  width: 80px;
}

table td {
  border: 1px solid rgba(0,0,0,.2);
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

td {
  padding: 10px;
}

.info-vin {
  background-color: white;
  padding-bottom: 10px;
  box-shadow: 0px 0px 3px grey;
  position: relative;
}

.wine-name {
  padding: 20% 10px;
  position: relative;
}

.description {
  padding: 10px 10px;
}

.tableau{
  margin-right: 10px;
}

.whitetext{
  color: white;
  text-shadow: 1px 0px 3px grey;
}

.region{
  font-size: 20px;
}
.flag {
  display: inline-flex;
  position: absolute;
  top: 193px;
  right: 265px;
}

#back-index {
  text-decoration: none;
  color:white;
  font-size:35px;
  margin: -2px;
  position: absolute;
  right: 204px;
}

.Selectme {
  margin: 0px
}



