.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.card-product img {
  height: 150px;
  width: 130px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px 25px;
  position: relative;
  width: 350px;
}
.linktoshow {
  text-decoration: none;
  color: #10002b;
  display:flex;
  margin: 5px 0px;
}

.linktoshow img {
  margin-right: 5px;
}

.fa-star {
  color: #FFC600;
}

.date {
  margin: 25px 0px 3px !important;
  opacity: 0.5;
  font-style: italic;
  position: relative;
  color: #6a040f;
}

.card-product-infos .cc {
  position: absolute;
  right: 9px;
  top: 1px;
  transform: rotate(45deg);
  text-decoration: none;
  color: #6a040f;

  font-size: 25px;
  &:hover{
    text-decoration: none;
    color: black;
  }
}
 .cc p {
    font-size: 20px;
  }
.card-product-infos a {
  font-size: 15px;
  color: #6a040f;
}

.linktoshow img {
  height: 23px;
  width: 23px
}

.linktoshow strong {
  font-size: 17px
}

a.rate-card-link {
  text-decoration: none
}
