.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.linktoshow {
  text-decoration: none;
  color: black;
}

.fa-star {
  color: #FFC600;
}
.date {
  margin: 25px 0px 0px !important;
  opacity: 0.5;
  font-style: italic;
  position: relative;
}

.cc {
  position: absolute;
  right: 33px;
  transform: rotate(45deg);
  text-decoration: none;
  color: black;
}
  font-size: 25px;
  &:hover{
    text-decoration: none;
    color: black;
  }
}
