<div class="search-container">
  <%= form_tag wines_path, method: :get do %>
    <div class="d-flex justify-content-center search-form-control form-group">
      <label for="id_label_single" class="search-form-control-text">
        <div><img class="logo" src="https://res.cloudinary.com/dsxjc2gud/image/upload/v1606753650/image_g2saz2.png"></div>
        <div><h1>Cheers!</h1></div>
        <div><p>Quel vin choisir avec ce plat?</p></div>
        <%= select_tag "query", options_for_select(@meals.map{|meal| [meal.name, meal.name, { "data-photo" => meal.photo }] }),
          class: "form-control select2 meal-templating"%>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
      </label>
    </div>
  <% end %>
  <div class="down-arrow d-flex justify-content-center align-items-end">
    <a href="#lorem"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>




