<div class="bannerdash">
  <div class="container">
    <h1>Ma selection</h1>
  </div>
</div>

<p>Faisons le point sur toi... tu as déja choisi <strong><%= @owneruser.count %> appellations</strong> avec CheersApp.</p>
