<div class="bannerdash" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.theconversation.com/files/67872/original/image-20141221-31560-ogavyx.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop);">
  <div class="container">
    <h1>Ma selection</h1>
  </div>
</div>

<% @user_selections.order("created_at desc").each do |user| %>
  <div class="card-product my-3">
    <img src="https://images.unsplash.com/photo-1599989317399-2a6e074c6555?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHZpbmV5YXJkfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" />
    <div class="card-product-infos">
      <h2><%= user.wine.name %></h2>
      <p><%= user.wine.price %> €</p>
      <p><%= user.wine.wine_region.name %></p>
    </div>
  </div>
<% end %>

