.banner {
  background-size: cover;
  background-position: center;
  height: 200px;
}

.videobg {
  height: 26vh;
  overflow: hidden;
  position: relative;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, -0.8), rgba(0, 0, 0, 0.2))
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.home-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
  padding: 6.2rem 1.4rem 14rem;
  margin-bottom: -140px;
}

.home-background h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  opacity: 1.7;
  font-size: 22px;
  font-weight: lighter;
  margin: 8px;
  text-align: center;
  color: #10002b;
  margin: 18px 12px;
  }

.home-background p {
  font-size: 20px;
  color: #10002b;
  opacity: 1.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center
}

