

.first {
  margin-bottom: 40px;
  margin-top: 20px;
}

.wine {
  display:flex;
  margin-top: 30px;
}

.intro h2 {
  font-size: 20px;
  width: 300px;
  padding: 5px;
};

.box {
  background-color: #6a040f;
  width: 325px;
  padding: 18px;
  height: 90px;
}

.box h2 {
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.btl{
  height: 100px;
  width: 50px;
  position: relative;
}

.btl img {
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: -14px;
}

.boite{
  overflow: hidden;
}

// .results::-webkit-scrollbar{
//   width: 5px;
//   height: 8px;
//   background-color: #6a040f;
// }
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6a040f;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

.results {
  height: 300px;
  background-image:  linear-gradient(rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3)), url(https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FAFP.2F2018.2F04.2F24.2F0cc984b9-35a3-4786-bbbe-af17b90413d6.2Ejpeg/750x375/background-color/ffffff/quality/70/viticulture-entre-8-et-12-des-vignobles-dans-le-monde-sont-cultives-en-bio-1284685.jpg);
  display: grid;
  padding: 50px 10px;
  background-size: cover;
  grid-template-columns: 180px 180px 180px;
  grid-gap: 1rem;
  overflow: auto;
  width: 100%;
}

.wine-card {
  overflow: hidden;
  height: 200px;
  background: #7f9183;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 180px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text{
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 165px;
}

.text h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  flex-grow: 1;
}

.text p {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 0;
  padding: 5px;
}

.link {
  text-align: center;
  padding: 5px;
  background-color:rgb(69,79,77);
  text-decoration: none;
  height: 35px;

}

.link a {
    color: white;
}
