.first {
  margin-bottom: 40px;
  margin-top: 50px;
  height: 380px;
}

.wine {
  display:flex;
  margin-top: 45px;
}

.intro h2 {
  font-size: 21px;
  width: 340px;
  padding: 5px;
  color: #10002b;
};

.box {
  background-color: #6a040f;
  width: 325px;
  padding: 18px;
  height: 90px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box h2 {
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.btl{
  height: 100px;
  width: 50px;
  position: relative;
}

.btl img {
  width: 133%;
  position: absolute;
  bottom: -33px;
  left: -19px;
}

.boite{
  overflow: hidden;
  background: #10002b;
  // background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FAFP.2F2018.2F04.2F24.2F0cc984b9-35a3-4786-bbbe-af17b90413d6.2Ejpeg/750x375/background-color/ffffff/quality/70/viticulture-entre-8-et-12-des-vignobles-dans-le-monde-sont-cultives-en-bio-1284685.jpg); */
  height: 500px
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #10002b;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #10002b;
}

.results {
  height: 300px;
  //background-image:  linear-gradient(rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3)), url(https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FAFP.2F2018.2F04.2F24.2F0cc984b9-35a3-4786-bbbe-af17b90413d6.2Ejpeg/750x375/background-color/ffffff/quality/70/viticulture-entre-8-et-12-des-vignobles-dans-le-monde-sont-cultives-en-bio-1284685.jpg);
  display: grid;
  padding: 10px 10px;
  background-size: cover;
  grid-template-columns: 190px 190px 190px;
  grid-gap: 1rem;
  overflow: auto;
  width: 100%;
  margin-top: -73px;
  position: absolute;
}

.wine-card-link:hover {
  text-decoration:none;
}

.wine-card {
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 180px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text{
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 165px;
  position: relative
}

.cards-flag {
  position: absolute;
  top: -12px;
  right: 6px;
}

.text h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  padding: 15px 5px;
  flex-grow: 1;
  color: #10002b;
}

.text p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  padding: 2px;
  font-weight: bold;
  color: #10002b;
  img {
    margin-top: -7px;
    margin-right: 4px;

  }
}


.link {
  text-align: center;
  padding: 5px;
  background-color:lightgrey;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px;

}

.link a {
    color: white;
    font-size: 20px;
}


#wine-show-container {
  position: absolute;
  transition: transform 2s;
  top: 16vh;
  height: calc(100vh - 16vh);
  overflow: hidden;
  z-index: 1;
  background: white;
  border-radius: 28px;
  margin: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .show-banner {
    overflow-y: auto;
    height: 100%;
  }
}




