.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  box-shadow: 0px 0px 2px grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}


.nav-link img {
  opacity: 0.7;
}

.explication {
  display: block;
  opacity: 0.5;
  font-size: 9px;
  text-align: center;
}

.thenav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link .fa-heart {
  color: #495057!important;
  font-size: 0.9em;
}

.nav-link .fa-heart:hover {
  color:#6a040f!important;
}

.active {
  border-top: 3px solid #6a040f;
  border-bottom: 3px solid #6a040f;
  height: 66px;
}

.logout {
  transform: rotateY(180deg) !important;
  padding-left: 0px;
  margin-left: -15px;
  padding-bottom: 12px;
}



