.search-container{
  height: 100%;
  padding-top: 150px;
  margin-left: 133px;
  color: white;
  background-image: asset-url("grid.png");
}

.logo {
  width: 150px;
  margin-bottom: -11px;
  height: 100px;
  filter: brightness(1.9);
}

.fa-search {
  border-radius: 50% !important;
  bottom: 11px !important;
  padding: 7px !important;
  background: #6a040f !important;
  color: white !important;
  font-size: 23px !important;
  margin-left: -43px !important;
  position: absolute !important;
}

.search-form-control {
  position: relative;
  margin: 0px;
  margin-left: 15px;

  .select2-container {
    width: calc(100% - 27px) !important;
    padding-top: 9px;
  }
}

.search-form-control-text p {
  margin-top: 0;
  margin-bottom: 3rem;
  margin-top: 0.9em;
  font-size: 1.3em;
}

.search-form-control .btn {
  margin-left: -7px;
  color: white
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.img-flag {
  margin-right: 10px;
  float: left;
  width: 35px;
  height: 25px;
  object-fit: cover;
}

.select2-container--default .select2-results .select2-results__options {
  max-height: 131px;
  overflow-y: auto;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 6px 4px;
  height: auto !important;
  border-radius: 41px !important;
  width: 360px;
}

.select2-container--default .select2-selection--single {
  outline: none;
}

.select2-search__field {
  outline: none;
}


.select2-container--open .select2-dropdown--below {
  border-top: none;
  width: 360px !important;
  border-radius: 4%;
  padding: 8px;
  border-top-left-radius: 4% !important;
  border-top-right-radius: 4% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
  padding-right: 155px !important;
  display: flex !important
}

.select2-results__option {
  padding: 10px;
  -webkit-user-select: none;
}

.btn .btn-flat {
  width: 10px;
}

.meal-templating button {
  background-color: transparent;
  visibility: hidden;
}

button:focus {
  outline: none;
}

