
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1503427128716-12b0ed4822bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2 class="text-center">Marsannay</h2>
      <br>
      <p><strong>Région: <%= image_tag("https://ruedesvignerons-548724.c.cdn77.org/images/front/svg-rounded-flags/fr.svg", size: "10x10", :alt => "rss feed") %> Bourgogne</strong></p>
      <p><strong>Prix: €€</strong></p>
      <p><strong>Meilleurs millésimes: 1995, 2010</strong></p>
      <p><strong>Cépages: Pinot Noir</strong></p>
      <p><strong>Couleur: Rouge</strong></p>
      <br>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi qui iste perferendis veniam facere tempora quas cum necessitatibus, praesentium provident ut eveniet repellendus at consequuntur voluptatem, optio aliquid! Enim, provident.</p>
    </div>
  </div>
  <%= link_to("#") do %>
    <i class="fas fa-heart"></i>
  <% end %>
</div>
